html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "Spartan", sans-serif;
}
.body__heading {
  color: hsl(300, 43%, 22%);
  font-size: 3.6rem;
  text-align: center;
  font-weight: 700;
}
.body__text {
  text-align: center;
  color: hsl(303, 10%, 53%);
}
/* Rating Component */
.rating {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: hsl(300, 24%, 96%);
  margin-bottom: 2rem;
  border-radius: 17px;
}
.five-star {
  text-align: center;
  margin-top: 1.5rem;
}
.rating__text {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: hsl(300, 43%, 22%);
  text-align: center;
  font-weight: 700;
}

/* Review Component */
.user__image {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 15px;
}
.user__info {
  display: inline-block;
}
.user__name {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 3px;
}
.type {
  color: hsl(333, 80%, 67%);
  margin-bottom: 0;
  margin-top: 3px;
  text-transform: capitalize;
}
